<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhklong.selling.mapper.FunctionalityMapper">
  <select id="getByEmployee" resultType="Functionality">
    select * from functionality where id in (select func from role_func where role = (select type from employee where id = #{0}))
  </select>

</mapper>