<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhklong.selling.mapper.StoreMapper">
  <insert id="insert" parameterType="Store">
    insert into store(name,company,region,address,createEmployee,createTime,description) 
    values (#{name},#{company},#{region},#{address},#{createEmployee},#{createTime},#{description})
  </insert>
  <select id="getByCompany" resultType="Store">
    select * from store where company = #{0}
  </select>
</mapper>